.about {
  background: #d0c8d3;
  height: 500px;
  margin: 0;
  padding: 20px;
  @include column-count(3);
  overflow: hidden;
  text-overflow: clip;

  p{
    margin: 0;
    padding: 5px;
    overflow: hidden;
	  text-overflow: clip;

}
}
