.tagline {
  height: 300px;
  background: #d0c8d3;

  img{
    width: 140px;
    height: 140px;
    border-radius:70px;
    background: #f3f3f3;
    margin: 20px;
  }

  p{
    padding-top: 20px;
    text-align: center;
  }

}
